<!DOCTYPE html>
<html>
	<head>
		<title>Hello ihr da! Das ist der "title".</title>
		<link rel="stylesheet" href="/cssFiles/myStyles.css">
	</head>

	<body>
			<p style="text-align:center">    
  				<a href="/addApplicant">go to 'Add Applicant'</a'><br>
  				<a href="/addJob">go to 'Add Job'</a'><br>
  				<a href="/addSkill">go to 'Add Skill'</a'><br>
  				<a href="/addJobStatus">go to 'Add Job Status'</a'><br>
			 	<a href="/addApplicantLevel">go to 'Add Applicant Level'</a'><br>
  				<a href="/logout">Logout</a'>
 				 <!-- more links here -->
			</p>
	</body>
</html>